//////////////////////////////
// Header Element Mixins
//////////////////////////////

//////////////////////////////
// Header Element Default Variables
$heading-base-extend: true !default;
$heading-sizes: ms(6) ms(5) ms(4) ms(3) ms(2) ms(1) !default;
//////////////////////////////

@mixin heading-base($extend: $heading-base-extend) {
  @if $extend {
    @extend %heading-base-extend;
  }
  @else {
    font: {
      family: $font-headline;
      weight: normal;
    }
  }
}

@mixin heading-size($size) {
  font-size: $size;
}
