// HTML //////////////////////
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Body //////////////////////
body {
  font-family: $font-body;
  color: $cs-text;
  background: $cs-background;
  @extend %enable-ligatures;
}

// Selected Text //////////////
// -moz- must be declared separately
::-moz-selection {
  color: $cs-selection;
  background: $cs-selection-bg;
  text-shadow: none;
}
::selection {
  color: $cs-selection;
  background: $cs-selection-bg;
  text-shadow: none;
}

// Links //////////////////////
a {
  @include link-colors($cs-link-normal, $cs-link-hover, $cs-link-active, $cs-link-visited, $cs-link-focus);
  @if $border-links == true {
    @include border-links($cs-link-border-normal, $cs-link-border-hover, $cs-link-border-active, $cs-link-border-visited);
  }
  @if $link-transitions != false {
    @include link-transitions($link-transitions);
  }
}

// Images //////////////////////
img {
  vertical-align: text-bottom;
}


// Tables ///////////////////////
table {
  @extend %constrain-to-parent;
}
