// Forms //////////////////////

@if $kit-form-defaults == true {
  fieldset {
    margin-bottom: $base-line-height;
    border-style: dashed;
  }
  legend {
    padding: 0 1em;
    white-space: nowrap;
  }
  label {
    cursor: pointer;
    margin-right: 0.5em;
    vertical-align: top;
    line-height: $base-line-height / $base-font-size * 1.5em;
  }
  %form-box {
    @extend %constrain-to-parent;
    border-width: 1px;
    margin-top: 0;
    margin-bottom: $base-line-height;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-color: $cs-border;
    height: $base-line-height / $base-font-size * 1.5em;
    font-size: $base-font-size;
    font-family: $font-body;
  }
  %textinput {
    @extend %form-box;
  }
  textarea {
    @extend %textinput;
    height: $base-line-height * 6.5;
  }
  %button {
    @extend %form-box;
  }
  input {
    &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
    &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
    &[type=number], &[type=range], &[type=search], &[type=color] {
      @extend %textinput;
    }
    // reset webkit search styles
    // &[type=search] {
    //   -webkit-appearance: none;
    //   &::-webkit-search-decoration {
    //     display: none;
    //   }
    // }
    &[type="radio"], &[type="checkbox"] {
      margin-left: 0.25em;
      margin-right: 0.25em;
    }
    &[type='submit'], &[type='reset'], &[type='button'] {
      @extend %button
    }
  }
  textarea, input:not([type="radio"]) {
    @extend %constrain-to-parent;
  }
  button, input[type='submit'], input[type='reset'] {
    @extend %button
  }
  select {
    @extend %textinput;
  }
}
