//////////////////////////////
// Body Element Mixins
//////////////////////////////

//////////////////////////////
// Body Element Default Variables
$body-font-stack:       $font-body !default;
$body-text-color:       $cs-text !default;
$body-background-color: $cs-background !default;
$body-enable-ligatures: true !default;
$body-extend:           true !default;
//////////////////////////////

@mixin body-base($font: $body-font-stack, $color: $body-text-color, $background: $body-background-color, $ligatures: $body-enable-ligatures, $extend: $body-extend) {
  @if not ($extend) {
    font-family: $font;
    color: $color;
    background: $background;
    @if $ligatures {
      @extend %enable-ligatures;
    }
  }
  @else {
    @extend %body-base;
  }
}