@import "toolkit-no-css";
@import "breakpoint";

@mixin golden($dir) {
  @if breakpoint-has-context() {
    @include box-sizing('border-box', false);
  }
  @else {
    @include box-sizing('border-box');
  }

  @if $dir == 'left' {
    float: #{$dir};
    width: 59.3046972%;
  }
  @else if $dir == 'right' {
    float: #{$dir};
    width: 35.6953028%;
  }
}

//////////////////////////////
// Style Tile
//////////////////////////////

.text-examples {
  width: 100%;
  @include clearfix(true);

  @include breakpoint($sp-single-to-multi-column) {
    @include golden('left');
  }
}

.graphic-examples {
  width: 100%;
  @include clearfix(true);

  @include breakpoint($sp-single-to-multi-column) {
    @include golden('right');
  }
}

.colors, .images {
  ul {
    text-align: center;
    list-style: none;
    @include clearfix(true);
    margin: 0;
    padding: .5em;
  }
  li {
    display: inline-block;
    height: 100px;
    width: 100px;
    @include breakpoint($sp-single-to-multi-column) {
      height: 75px;
      width: 75px;
    }
    @include breakpoint(1034px) {
      height: 50px;
      width: 50px;
    }
    @include border-radius(50%);
    margin: {
      left: .25em;
      bottom: .25em;
    }
  }
}

.images li {
  width: 100%;

  @include breakpoint(452px) {
    width: 200px;
  }

  @include breakpoint($sp-single-to-multi-column) {
    width: 100%;
  }

  @include breakpoint(1223px) {
    width: 200px;
  }
  height: auto;

  max-width: 100%;

  margin-bottom: .5em;

  img {
    max-width: 100%;
    height: auto;
  }
}

.inspiration {
  @include horizontal-list;
  font-size: 3em;
  text-align: center;
}
