<div data-sp-class="_style-tile">

  <article data-sp-class="_style-tile--content" class="base--TEXT">
    <h1>The Farnsworth Parabox</h1>

    <p>Whoa a real live robot; or is that some kind of <a href="#">
cheesy New Year's costume</a>? Why would a robot need to drink? Hey, tell me something. You've got all this money. How come you always dress like you're doing your laundry? Then throw her in the laundry room, which will hereafter be referred to as "the brig". Large bet on myself in round one.</p>

    <h2>A Taste of Freedom</h2>
    <p>When I was first asked to make a film about my nephew, Hubert Farnsworth, I thought "Why should I?" Then later, Leela made the film. But if I did make it, you can bet there would have been more topless women on motorcycles. Roll film! Bender, hurry! This fuel's expensive! Also, we're dying! Well, thanks to the Internet, I'm now bored with sex. Is there a place on the web that panders to my lust for violence? But existing is basically all I do! What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food. Why, those are the Grunka-Lunkas! They work here in the Slurm factory.</p>

    <ul>
      <li>There's one way and only one way to determine if an animal is intelligent. Dissect its brain!</li>
      <li>What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food.</li>
      <li>Bender, I didn't know you liked cooking. That's so cute.</li>
    </ul>

    <h3>When Aliens Attack</h3>

    <p>There's one way and only one way to determine if an animal is intelligent. Dissect its brain! I never loved you. Yeah. Give a little credit to our public schools.</p>

    <h4>Bendin' in the Wind</h4>

    <p>Tell them I hate them. In our <em>darkest hour</em>, we can <strong>stand erect</strong>, with <em><strong>proud upthrust bosoms</strong></em>. When the lights go out, it's nobody's business what goes on between two consenting adults. Well, let's just dump it in the sewer and say we delivered it. I don't 'need' to drink. I can quit anytime I want! Oh yeah, good luck with that.</p>

    <ol>
      <li>And until then, I can never die?</li>
      <li>What's with you kids? Every other day it's food, food, food. Alright, I'll get you some stupid food.</li>
      <li>And until then, I can never die?</li>
      <li>Shinier than yours, meatbag.</li>
    </ol>
    <h5>The Mutants Are Revolting</h5>
    <p>No, just a regular mistake. Fry, we have a crate to deliver. And until then, I can never die? And why did 'I' have to take a cab? Oh, I always feared he might run off like this. Why, why, why didn't I break his legs?</p>
  </article>
  <aside ng-if="styletile.colors" data-sp-class="_style-tile--abstracts">
    <h2 data-sp-class="section--header">Possible Colors</h2>
    <ul data-sp-class="style-tile--COLORS">
      <li data-sp-class="style-tile--item-{{$index}}" ng-repeat="n in [] | range:styletile.colors"></li>
    </ul>
  </aside>
  <aside ng-if="styletile.images" data-sp-class="_style-tile--abstracts">
    <h2 data-sp-class="section--header">Possible Patterns</h2>
    <ul data-sp-class="style-tile--IMAGES">
      <li data-sp-class="style-tile--item-{{$index}}" ng-repeat="tileImage in styletile.images">
        <img src="{{imageSRC}}" alt="{{imageALT}}" ng-repeat="(imageSRC, imageALT) in tileImage">
      </li>
    </ul>
  </aside>
  <aside ng-if="styletile.descriptors" data-sp-class="_style-tile--abstracts">
    <ul data-sp-class="style-tile--DESCRIPTORS">
      <li data-sp-class="style-tile--item-{{$index}}" ng-repeat="descriptor in styletile.descriptors">{{descriptor}}</li>
    </ul>
  </aside>
</div>
