//////////////////////////////
// Forms Component
// Create a partial and folder structure similar to this for each component
// _component-name.scss
// component-name (folder)
//   _mixins.scss
//   _extends.scss
//////////////////////////////

@import 'button/mixins';
@import 'button/extends';
@import 'forms/mixins';
@import 'forms/extends';

button {
  @extend %button
}

fieldset {
  @extend %form-fieldset-extend;
}

input {
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color] {
    @extend %form-textinput-extend;
  }
  &[type="radio"], &[type="checkbox"] {
    @extend %form-check-radio-extend;
  }
  &[type='submit'], &[type='reset'], &[type='button'] {
    @extend %button
  }
}

label {
  @extend %form-label-extend;
}

legend {
  @extend %form-legend-extend;
}

select {
  @extend %form-textinput-extend;
}

textarea {
  @extend %form-text-area-extend;
}
