//////////////////////////////
// mixins for the 'buttons' component
//////////////////////////////

@mixin button-base {
  border-radius: 0.2em;
  border: {
    width: 1px;
    style: solid;
  }
  font: {
    family: sans-serif;
    weight: normal;
    size: 0.9em;
  }
  line-height: 1.25;
  text-transform: uppercase;
  padding: 0.2em 0.5em;
}
@mixin button-colors($button-color: gainsboro, $button-text-color: false) {
  @if $button-text-color == false {
    $button-text-color: contrast-color($button-color, $black, $white, 60%)
  }
  color: $button-text-color;
  background: {
    color: $button-color;
  }
  border: {
    color: blend-multiply($button-color, adjust-color($button-color, $lightness: -10%));
  }
  text-shadow: blend-screen($button-color, adjust-color($button-color, $lightness: 30%)) 1px 1px 0;
  &:hover {
    background: {
      color: blend-screen($button-color, adjust-color($button-color, $lightness: 10%));
    }
  }
  &:active {
    background: {
      color: blend-screen($button-color, adjust-color($button-color, $lightness: 20%));
    }
  }
}
