<div class="buttons group">
  <ul component-list>
    {{#each options.grunt.userConfig.components.buttons}}
      {{#each this}}
      <li>
        <a class="{{classify this}}" href="#">{{@key}}</a>
        {{#if ../../page.examples}}
        <details>
          <summary>HTML Source</summary>
          <pre class="example"><code class="language-markup">&lt;a class="{{classify this}}" href="#"&gt;{{@key}}&lt;/a&gt;</code></pre>
        </details>

        {{/if}}
      </li>
      {{/each}}
    {{/each}}
  </ul>
</div>