<div class="component-group--pager">
  {{#if page.examples}}
    {{{create-example-sass "pager" all true}}}
  {{/if}}
  <ul component-list>
    <li>
      {{{component "pager" "full"}}}

      {{#if page.examples}}
        {{{create-example-html "pager" "full"}}}
        {{{create-example-sass "pager" "full"}}}
      {{/if}}
    </li>
    <li>
      {{{component "pager" "mini"}}}

      {{#if page.examples}}
        {{{create-example-html "pager" "mini"}}}
        {{{create-example-sass "pager" "mini"}}}
      {{/if}}
    </li>
  </ul>
</div>