// COLORS
$black: tint(black, 5%);
$white: shade(white, 5%);
$gray: mix($black, $white);
$cs-primary: tomato;

//////////////////////////////
// Color Stacks
//
// We can utilize [Color Schemer](https://github.com/scottkellum/color-schemer)
//   to build us awesome color guides.
//////////////////////////////
// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme:             triad;
// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset:         40;
// Options: 0-100;
$cs-brightness-offset:  10;
// Options: 0-100;
$cs-color-model:        ryb;
// Options: rgb, ryb

$black-tints:      tint-stack($black);
$primary-tints:    tint-stack(cs-primary());
$secondary-tints:  tint-stack(cs-secondary());
$tertiary-tints:   tint-stack(cs-tertiary());
$quaternary-tints:   tint-stack(cs-quadrary());
$primary-shades:   shade-stack(cs-primary());
$secondary-shades: shade-stack(cs-secondary());
$tertiary-shades:  shade-stack(cs-tertiary());
$quaternary-shades:  shade-stack(cs-quadrary());

$cs-secondary: cs-secondary();

// link colors
$cs-link-normal: $cs-primary;
$cs-link-hover: $cs-secondary;
$cs-link-active: $cs-secondary;
$cs-link-visited: $cs-primary;
$cs-link-focus: $cs-primary;
$cs-link-border-normal: $cs-primary;
$cs-link-border-hover: $cs-secondary;
$cs-link-border-active: $cs-secondary;
$cs-link-border-visited: $cs-primary;
$cs-link-border-focus: $cs-primary;

// Color variables expected in base
// $cs-base: $cs-primary;
$cs-text: $black;
$cs-background: $white;
$cs-border: $gray;
$cs-selection: $white;
$cs-selection-bkg: $black;
$cs-debug-color: red;

//////////////////////////////
// Component defaults
//////////////////////////////
// Buttons
$cs-button-color-default: nth($secondary-tints, 5);
$cs-button-text-color-dark-default: $black;
$cs-button-text-color-light-default: $white;
//////////////////////////////
// Messages
$cs-message-text-color-default: nth($secondary-tints, 1);
$cs-message-bkg-color-default: false;
//////////////////////////////
