//////////////////////////////
// Colors
//////////////////////////////
$black: #161616;
$white: #fefefe;
$gray: mix($black, $white);
$cs-primary: #fdb252;

//////////////////////////////
// Color Stacks
//
// We can utilize [Color Schemer](https://github.com/scottkellum/color-schemer)
//   to build us awesome color guides.
//////////////////////////////
// Primary color, can be any color you can use in CSS, plus CMYK from Color Schemer
$cs-scheme:             accented-analogic;
// Options: mono, complement, triad, tetrad, analogic, accented-analogic
$cs-hue-offset:         42;
// Options: 0-100;
$cs-brightness-offset:  10;
// Options: 0-100;
$cs-color-model:        ryb;
// Options: rgb, ryb

$black-tints:      tint-stack($black);
$primary-tints:    tint-stack(cs-primary());
$secondary-tints:  tint-stack(cs-secondary());
$tertiary-tints:   tint-stack(cs-tertiary());
$quaternary-tints:   tint-stack(cs-quadrary());
$primary-shades:   shade-stack(cs-primary());
$secondary-shades: shade-stack(cs-secondary());
$tertiary-shades:  shade-stack(cs-tertiary());
$quaternary-shades:  shade-stack(cs-quadrary());

$cs-secondary: cs-secondary();

// link colors
$cs-link-normal: nth($quaternary-shades, 2);
$cs-link-hover: nth($quaternary-shades, 3);
$cs-link-active: nth($quaternary-tints, 2);
$cs-link-visited: nth($quaternary-shades, 4);
$cs-link-focus: nth($quaternary-shades, 4);
$cs-link-border-normal: nth($quaternary-shades, 2);
$cs-link-border-hover: nth($quaternary-shades, 3);
$cs-link-border-active: nth($quaternary-tints, 2);
$cs-link-border-visited: nth($quaternary-shades, 4);
$cs-link-border-focus: nth($quaternary-shades, 4);

//////////////////////////////
// Background Colors
//////////////////////////////
$cs-background: $white;

//////////////////////////////
// Text Colors
//////////////////////////////
$cs-text-dark: $black;
$cs-text-light: $white;
$cs-text: $cs-text-dark;

//////////////////////////////
// Border Colors
//////////////////////////////
$cs-border: $gray;

//////////////////////////////
// Status Colors
//////////////////////////////
$cs-status-status: nth($quaternary-tints, 6);
$cs-status-warning: nth($secondary-tints, 2);
$cs-status-error: nth($tertiary-shades, 2);

//////////////////////////////
// Component defaults
//////////////////////////////
// Buttons
$cs-button-color-default: $gray;
//////////////////////////////
// Messages
$cs-message-text-color-default: nth($secondary-tints, 1);
$cs-message-bkg-color-default: $cs-status-status;
//////////////////////////////
