// This file establishes simple clean default font stacks

// Default font stacks
$font-sans: sans-serif;
$font-serifs: serif;
$font-mono: monospace;

// General font variables
$font-body: $font-serifs;
$font-headline: $font-sans;
