////////////////////////////
// Kit Default Variables
////////////////////////////


////////////////////////////
// Modular Scale (used by 04-base)
// values used to determine modular scale values
// and http://modularscale.com/
$ratio: golden_ratio() major_third();
$base-size: 1em;
////////////////////////////

//////////////////////
// Font size and line-height
$base-font-size: $base-size;
$base-line-height: $base-font-size * 1.5;
//////////////////////

//////////////////////
// Headings
// create a list of heading sizes, H1 - H6
// default example uses modular scale
$heading-sizes: ms(6) ms(5) ms(4) ms(3) ms(2) ms(1);
//////////////////////
