//////////////////////////////
// Compass Extension Settings
//////////////////////////////

//////////////////////////////
// Style Guide
//
// These settings, along with their paired element or selector settings, will result in either elements or selectors being included in output CSS or not
//////////////////////////////
$output-elements: true !default;
$output-selectors: true !default;

////////////////////////////
// Modular Scale
//
// Values used to determine modular scale values
// http://modularscale.com/
////////////////////////////
$ratio: golden_ratio() major_third();
$base-size: 1em;

//////////////////////////////
// Breakpoint
//
// Settings for Breakpoint
//////////////////////////////
$breakpoint-to-ems: true;