//////////////////////////////
// Button Component Variables
//////////////////////////////
$button-base-extend: true !default;
$button-size-normal-extend: true !default;
$button-size-large-extend: true !default;
$button-colors-extend: true !default;
$button-color-default: $cs-button-color-default !default;
$button-color-adjust: 20% !default;
$button-text-color-default: false !default;