//////////////////////////////
// Accessibility Component Extendable Classes
//////////////////////////////

%base--h1 {
  font-size: 1em;
}

%base--h2 {
  font-size: 1em;
}

%base--h3 {
  font-size: 1em;
}

%base--h4 {
  font-size: 1em;
}

%base--h5 {
  font-size: 1em;
}

%base--h6 {
  font-size: 1em;
}

%base--p {
  font-size: 1em;
}