{
  "title": "Component Guide",
  "examples": true
}
---

<article class="prototype--a11y">
  <header>
    <h2>Accessibility</h2>
  </header>
  {{> a11y}}
</article>

<article class="prototype--messaging">
  <header>
    <h2>Messages</h2>
  </header>
  {{> prototype-group--message}}
</article>

<article class="prototype--buttons">
  <header>
    <h2>Buttons</h2>
  </header>
  {{> prototype-group--button}}
</article>

<article class="prototype--pagers">
  <header>
    <h2>Pagers</h2>
  </header>
  {{> pager}}
</article>