<header>
  <div class="inner-wrapper">
    <div id="client-id">
      {{#if options.grunt.userConfig.prototype.logo}}
        <div class="client-logo">
          <img src="{{image-url options.grunt.userConfig.prototype.logo}}" alt="{{options.grunt.userConfig.client.name}} Logo">
        </div>
      {{else}}
        <h1 class="client-name">{{options.grunt.userConfig.client.name}}</h1>
      {{/if}}
    </div>
    <aside id="page-id">
      <h2 class="section-name">{{page.title}}</h2>
      <div class="page-info">
        <p>Version {{options.grunt.userConfig.client.version}}</p>
      </div>
    </aside>
  </div>
  <nav id="prototype-nav" role="navigation">
    <b data-menu-toggle="closed">menu</b>
    <div role="menubar">
      {{{prototype-navigation options.grunt.userConfig.sections}}}
    </div>
  </nav>
  <script type="text/javascript">
    {{! Source for minified output JavaScript, commented out.
    (function() {
      var menuToggles = document.querySelectorAll('b[data-menu-toggle]');
      var menuToggleLength = menuToggles.length;
      for (var i = 0; i < menuToggleLength; i++) {
        menuToggles[i].addEventListener("click", toggle);
      }

      function toggle(e) {
        var toggle = e.target.getAttribute('data-menu-toggle');
        if (toggle === 'closed') {
          e.target.setAttribute('data-menu-toggle', 'open');
        }
        else {
          e.target.setAttribute('data-menu-toggle', 'closed');
        }
      }
    })();
    }}
    {{! Uglified output to be used on page }}
    !function(){function d(a){var b=a.target.getAttribute("data-menu-toggle");"closed"===b?a.target.setAttribute("data-menu-toggle","open"):a.target.setAttribute("data-menu-toggle","closed")}for(var a=document.querySelectorAll("b[data-menu-toggle]"),b=a.length,c=0;b>c;c++)a[c].addEventListener("click",d)}();
  </script>
</header>
{{{page-sections}}}