//////////////////////////////
// Link Component Mixins
//////////////////////////////

//////////////////////////////
// Links Component Default Variables
$links-extend: true !default;
$link-normal-default: $cs-link-normal !default;
$link-hover-default: $cs-link-hover !default;
$link-active-default: $cs-link-active !default;
$link-visited-default: $cs-link-visited !default;
$link-focus-default: $cs-link-focus !default;
$set-border-links-default: true !default;
$link-border-size-default: 1px !default;
$link-border-style-default: solid !default;
$link-border-normal-default: $cs-link-border-normal !default;
$link-border-hover-default: $cs-link-border-hover !default;
$link-border-active-default: $cs-link-border-active !default;
$link-border-visited-default: $cs-link-border-visited !default;
$link-border-focus-default: $cs-link-border-focus !default;
$unset-border-links-extend: true;
//////////////////////////////

@mixin set-link-colors($link-normal: $link-normal-default, $link-hover: $link-hover-default, $link-active: $link-active-default, $link-visited: $link-visited-default, $link-focus: $link-focus-default, $extend: $links-extend) {
  @if $extend {
    @extend %link-colors-extend;
  }
  @else {
    &:not(.button) {
      @include link-colors($link-normal, $link-hover, $link-active, $link-visited, $link-focus);
    }
  }
}

@mixin set-border-links($link-border-normal: $link-border-normal-default, $link-border-hover: $link-border-hover-default, $link-border-active: $link-border-active-default, $link-border-visited: $link-border-visited-default, $link-border-focus: $link-border-focus-default, $link-border-size: $link-border-size-default, $link-border-style: $link-border-style-default, $extend: $set-border-links-default) {
  @if $extend {
    @extend %link-borders-extend;
  }
  @else {
    text-decoration: none;
    border-bottom: $link-border-size $link-border-style $link-border-normal;
    &:visited {
      border-bottom-color: $link-border-visited;
    }
    &:focus {
      border-bottom-color: $link-border-focus;
    }
    &:hover {
      border-bottom-color: $link-border-hover;
    }
    &:active {
      border-bottom-color: $link-border-active;
    }
  }
}

@mixin unset-border-links($extend: $unset-border-links-extend) {
  @if $extend {
    @extend %link-unset-borders-extend;
  }
  @else {
    text-decoration: none;
    border-bottom: none;
    &:visited {
      border-bottom: none;
    }
    &:focus {
      border-bottom: none;
    }
    &:hover {
      border-bottom: none;
    }
    &:active {
      border-bottom: none;
    }
  }
}
