<!-- Component: Pager,  Type: Full -->
<ul class="pager">
  <li class="pager-first">
    <a href="#" title="Go to the first page"> « First</a>
  </li>
  <li class="pager-previous">
    <a href="#" title="Go to the previous page"> ‹ Previous</a>
  </li>
  <li class="pager-item">
    <a href="#" title="Go to page 1">1</a>
  </li>
  <li class="pager-item">
    <a href="#" title="Go to page 2">2</a>
  </li>
  <li class="pager-item">
    <a href="#" title="Go to page 3">3</a>
  </li>
  <li class="pager-next">
    <a href="#" title="Go to the next page"> Next ›</a>
  </li>
  <li class="pager-last">
    <a href="#" title="Go to the last page"> Last »</a>
  </li>
</ul>