//////////////////////////////
// Add mixins for the 'messages' component here.
//////////////////////////////

//////////////////////////////
// Messages Component Default Variables
$msg-base-extend: true !default;
$msg-colors-extend: true !default;
$msg-text-color-default: $cs-msg-text-color-default !default;
$msg-bkg-color-default: $cs-msg-bkg-color-default !default; // false
//////////////////////////////

@mixin msg-base($extend: $msg-base-extend) {
  @if $extend {
    @extend %message-base-extend;
  }
  @else {
    padding: 0.2em 0.5em;
    border: {
      style: solid;
      width: 1px;
    }
  }
}

@mixin msg-colors($msg-text-color: $msg-text-color-default, $msg-bkg-color: $msg-bkg-color-default, $extend: $msg-colors-extend) {
  @if ($msg-text-color != $msg-text-color-default) or ($msg-bkg-color != $msg-bkg-color-default) {
    $extend: false;
  }
  @if $extend {
    @extend %message-colors-extend;
  }
  @else {
    @if $msg-bkg-color == false {
      $msg-bkg-color: adjust-color(adjust-color($msg-text-color, $lightness: 30%), $saturation: -40%);
    }
    border: {
      color: blend-multiply($msg-bkg-color, adjust-color($msg-bkg-color, $lightness: -10%));;
    }
    background: {
      color: $msg-bkg-color;
    }
    color: $msg-text-color;
  }
}
