//////////////////////////////
// Add mixins for the 'messages' component here.
//////////////////////////////

//////////////////////////////
// Messages Component Default Variables
$message-base-extend: true !default;
$message-colors-extend: true !default;
$message-text-color-default: $cs-message-text-color-default !default;
$message-bkg-color-default: $cs-message-bkg-color-default !default; // false
//////////////////////////////

@mixin message-base($extend: $message-base-extend) {
  @if $extend {
    @extend %message-base-extend;
  }
  @else {
    padding: 0.2em 0.5em;
    border: {
      style: solid;
      width: 1px;
    }
  }
}

@mixin message-colors($message-text-color: $message-text-color-default, $message-bkg-color: $message-bkg-color-default, $extend: $message-colors-extend) {
  @if ($message-text-color != $message-text-color-default) or ($message-bkg-color != $message-bkg-color-default) {
    $extend: false;
  }
  @if $extend {
    @extend %message-colors-extend;
  }
  @else {
    @if $message-bkg-color == false {
      $message-bkg-color: adjust-color(adjust-color($message-text-color, $lightness: 30%), $saturation: -40%);
    }
    border: {
      color: blend-multiply($message-bkg-color, adjust-color($message-bkg-color, $lightness: -10%));;
    }
    background: {
      color: $message-bkg-color;
    }
    color: $message-text-color;
  }
}
