<!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> style-prototype--shared-head}}
  </head>

  <body>
    <div id="prototype-section--header">
      <div class="content-wrapper">
        {{> style-prototype--header}}
      </div>
    </div>

    <main id="prototype-section--main">
      <div class="content-wrapper">
        {{{body}}}
      </div>
    </main>

    <!-- JavaScript goes in the footer! -->
    {{> style-prototype--shared-foot}}
  </body>
</html>