<!--[if lte IE 8]>         <html class="no-js lte-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {{> prototype-shared-head}}
  </head>

  <body>
    <div id="prototype-header">
      <div class="content-wrapper">
        {{> prototype-header}}
      </div>
    </div>

    <main>
      <div class="content-wrapper">
        {{{body}}}
      </div>
    </main>

    <!-- JavaScript goes in the footer! -->
    {{> prototype-shared-foot}}
  </body>
</html>