//////////////////////////////
// Message Component Variables
//////////////////////////////
$message-base-extend: true !default;
$message-colors-extend: true !default;
$message-color-adjust: 10% !default;
$message-text-color-default: $cs-message-text-color-default !default;
$message-bkg-color-default: $cs-message-bkg-color-default !default;