////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

.clearfix {
	@if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    *zoom: 1;
  }

  &:before,
  &:after {
    display: table;
    content: "";
  }

  &:after {
    clear: both;
  }
}
