//////////////////////////////
// Body Element
//
// The partial and folder structure for this element should be as follows:
// _body.scss
// body (folder)
//   _mixins.scss
//   _extends.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base element: @{element}
//  - End styling block for base element:   {element}@
//
//  - Start styling block for specific element configuration: @{element--configuration}
//  - End styling block for specific element configuration:   {element--configuration}@
//////////////////////////////

@import 'body/mixins';
@import 'body/extends';

//////////////////////////////
// Having $output-elements and $output-elements--body set to `true` will output the CSS elements for Body Element
$output-elements--body: true !default;
@if $output-elements and $output-elements--body {
//////////////////////////////

//////////////////////////////
// @{body}
// Baseline Body Styling
body {
  @extend %body-base;
}
// {body}@
//////////////////////////////