//////////////////////////////
// Form Element
//
// The partial and folder structure for this element should be as follows:
// _form.scss
// form (folder)
//   _mixins.scss
//   _extends.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base Element: @{element}
//  - End styling block for base Element:   {element}@
//
//  - Start styling block for specific Element configuration: @{element--configuration}
//  - End styling block for specific Element configuration:   {element--configuration}@
//////////////////////////////

@import '../Elements/button/mixins';
@import '../Elements/button/extends';
@import 'form/mixins';
@import 'form/extends';

//////////////////////////////
// Having $output-elements and $output-elements--form set to `true` will output the CSS elements for Form Element
$output-elements--form: true !default;
@if $output-elements and $output-elements--form {
//////////////////////////////

//////////////////////////////
// @{form--button}
// Button styling for Form Element
button {
  @extend %button;
}
// {form--button}@
//////////////////////////////


//////////////////////////////
// @{form--fieldset}
// Fieldset styling for Form Element
fieldset {
  @extend %form-fieldset-extend;
}
// {form--fieldset}@
//////////////////////////////


//////////////////////////////
// @{form--input}
// Input styling for Form Element
input {
  &[type=text], &[type=password], &[type=email], &[type=url], &[type=tel],
  &[type=date], &[type=datetime], &[type=datetime-local], &[type=month], &[type=week], &[type=time],
  &[type=number], &[type=range], &[type=search], &[type=color] {
    @extend %form-textinput-extend;
  }
  &[type="radio"], &[type="checkbox"] {
    @extend %form-check-radio-extend;
  }
  &[type='submit'], &[type='reset'], &[type='button'] {
    @extend %button;
  }
}
// {form--input}@
//////////////////////////////


//////////////////////////////
// @{form--label}
// Label styling for Form Element
label {
  @extend %form-label-extend;
}
// {form--label}@
//////////////////////////////


//////////////////////////////
// @{form--legend}
// Legend styling for Form Element
legend {
  @extend %form-legend-extend;
}
// {form--legend}@
//////////////////////////////


//////////////////////////////
// @{form--select}
// Select styling for Form Element
select {
  @extend %form-textinput-extend;
}
// {form--select}@
//////////////////////////////


//////////////////////////////
// @{form--textarea}
// Textarea styling for Form Element
textarea {
  @extend %form-text-area-extend;
}
// {form--textarea}@
//////////////////////////////

}