//////////////////////////////
// HTML Element
//
// The partial and folder structure for this element should be as follows:
// _html.scss
// html (folder)
//   _mixins.scss
//   _extends.scss
//
// Automatic Sass parsing is done through special comment blocks
//  - Start styling block for base element: @{element}
//  - End styling block for base element:   {element}@
//
//  - Start styling block for specific element configuration: @{element--configuration}
//  - End styling block for specific element configuration:   {element--configuration}@
//////////////////////////////

@import 'html/mixins';
@import 'html/extends';

//////////////////////////////
// Having $output-elements and $output-elements--html set to `true` will output the CSS elements for HTML Element
$output-elements--html: true !default;
@if $output-elements and $output-elements--html {
//////////////////////////////

//////////////////////////////
// @{html}
// Baseline HTML Styling
html {
  @extend %html-base;
}
// {html}@
//////////////////////////////

}