//////////////////////////////
// Style Prototype
//
// This contains all of the styling specific to the Style Prototype that you do not want in your final Style Guide. This includes styling for the general page layout and design, the Style Tile, and the Color Guide.
// Your Style Guide gets imported first, so all styling that you include in your Style Guide will cascade over the other pieces of your Style Prototype.
//////////////////////////////
@import "<%= clientSlug %>-style-guide";

//////////////////////////////
// Prototype Setup Variables
$sp-max-page-width: 100%;
$sp-single-to-multi-column: 637px;
$sp-header-color: #161616;
$sp-vertical-horizontal-nav: 721px;
//////////////////////////////

//////////////////////////////
// Style Tile
@import ".prototype/style-tile";
.color-0 { background: nth($black-tints, 1); }
.color-1 { background: nth($primary-tints, 1); }
.color-2 { background: nth($secondary-tints, 1); }
.color-3 { background: nth($tertiary-tints, 1); }
.color-4 { background: nth($quaternary-tints, 1); }
//////////////////////////////

//////////////////////////////
// Color Guide
@import ".prototype/color-guide";
// This mixin will generate the styling for the color guide. If you would like to write your own, remove it and please do so.
@include generate-colour-guide($black-tints, $primary-tints, $primary-shades, $secondary-tints, $secondary-shades, $tertiary-tints, $tertiary-shades, $quaternary-tints, $quaternary-shades);
//////////////////////////////

//////////////////////////////
// Style Prototype Page
// This partial will write the Style Prototype page specific styling. If you would like to write your own, remove it and please do so.
@import ".prototype/prototype";
//////////////////////////////
