// HTML //////////////////////
html {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// Body //////////////////////
body {
  font-family: $font-body;
  color: $cs-text;
  background: $cs-background;
  @extend %enable-ligatures;
}

// Selected Text //////////////
// -moz- must be declared separately
::-moz-selection {
  color: $cs-selection;
  background: $cs-selection-bkg;
  text-shadow: none;
}
::selection {
  color: $cs-selection;
  background: $cs-selection-bkg;
  text-shadow: none;
}
